{% extends "nav.html" %}

{% block header %}
<h1>{% block title %}Edit profile{% endblock title %}</h1>
{% endblock header %}

{% block content %}
<form method="post">
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" id="firstname" value="{{ orig['FirstName'] }}" required>
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" id="lastname" value="{{ orig['LastName'] }}" required>
    </div>
    <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="tel" name="phone" id="phone" placeholder="0994445555" value="{{ orig['Phone'] }}" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="example@email.com" value="{{ orig['Email'] }}"
            required>
    </div>
    <button type="submit">Save</button>
</form>
{% endblock content %}