{% extends "nav.html" %}

{% block header %}
<h1>{% block title %}Edit Booking #{{ original_booking['BookingID'] }}{% endblock title %}</h1>
{% endblock header %}

{% block content %}
<form method="post">
    <div class="form-group">
        <label for="roomNo">Room Number</label>
        <input type="number" name="roomNo" id="roomNo" value="{{ original_booking['RoomNumber'] }}" required autofocus>
    </div>
    <div class="form-group">
        <label for="checkIn">Check In Date</label>
        <input type="date" name="checkIn" id="checkIn" value="{{ original_booking['CheckInDate'] }}" required>
    </div>
    <div class="form-group">
        <label for="checkOut">Check Out Date</label>
        <input type="date" name="checkOut" id="checkOut" value="{{ original_booking['CheckOutDate'] }}" required>
    </div>
    <div class="form-group">
        <label for="caterer">Caterer Team ID</label>
        <input type="number" name="caterer" id="caterer" value="{{ original_booking['CatererID'] }}">
    </div>
    <button type="submit">Save edit</button>
</form>
<a class="btn" href="{{ url_for('booking.index') }}">Cancel edit</a>
<form action="{{ url_for('booking.cancel', id=original_booking['BookingID']) }}" method="post">
    <button type="submit" class="cancel" onclick="return confirm('Are you sure?');">Cancel booking!?</button>
</form>
{% endblock content %}