{% extends "nav.html" %}

{% block header %}
<h1>{% block title %}Bookings{% endblock title %}</h1>
{% endblock header %}

{% block content %}
<div class="br">
    {% if g.user %}
    <a class="btbr" href="{{ url_for('booking.create') }}">Book A Room Now</a>
    {% endif %}
</div>
<table>
    <tr>
        <th>Booking ID</th>
        <th>Room</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Caterer Team</th>
        <th>Price</th>
    </tr>
    {% for booking in bookings %}
    <tr>
        {% for data in booking.values() %}

        {% if not loop.last %}
        <td>
            {{ data }}
        </td>
        {% else %}
        {% if data == g.user['Username'] %}
        <td class="edit bt">
            <a class="btn" href="{{ url_for('booking.edit', id=booking['BookingID']) }}">Edit</a>
        </td>
        {% endif %}

        {% endif %}

        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock content %}