{% extends "nav.html" %}

{% block header %}
<h1>{% block title %}Bookings{% endblock title %}</h1>
{% endblock header %}

{% block content %}
{% if g.user %}
<a class="b_action" href="{{ url_for('booking.create') }}">Book A Room Now</a>
{% endif %}
<table>
    <tr>
        <th>Booking ID</th>
        <th>Room</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Caterer Team</th>
        <th>Price</th>
    </tr>
    {% for booking in bookings %}
    <tr>
        {% for data in booking.values() %}
        <td>
            {% if not loop.last %}
            {{ data }}
            {% else %}
            {% if data == g.user['Username'] %}
            <a class="btn" href="{{ url_for('booking.edit', id=booking['BookingID']) }}">Edit</a>
            {% endif %}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock content %}