{% extends "nav.html" %}

{% block header %}
<h1>{% block title %}Edit Booking #{{ original_booking[0] }}{% endblock title %}</h1>
{% endblock header %}

{% block content %}
<form method="post">
    <label for="roomNo">Room Number</label>
    <input type="number" name="roomNo" id="roomNo" value="{{ original_booking[2] }}" required autofocus>
    <label for="checkIn">Check In Date</label>
    <input type="date" name="checkIn" id="checkIn" value="{{ original_booking[3] }}" required>
    <label for="checkOut">Check Out Date</label>
    <input type="date" name="checkOut" id="checkOut" value="{{ original_booking[4] }}" required>
    <input class="b_action" type="submit" value="Save">
</form>
<form action="{{ url_for('booking.cancel', id=original_booking[0]) }}" method="post">
    <input class="cancel" type="submit" value="Cancel" onclick="return confirm('Are you sure?');">
</form>
{% endblock content %}