
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Dancing+Script:wght@400..700&family=Lobster&family=Nanum+Myeongjo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem;
    
}

body {
    max-width: 960px;
    margin: 0 auto;
    background: white;
    border-radius: 15px;
}

/*สีหัวข้อใหญ่*/
h1 {
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
    margin-left: 20px;
    padding-top: 15px;
    font-size: 60px;
    
    
}
/*สีรายการ*/
a {
    color: #377ba8;
    
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}
/*สีแถบรายการ*/
nav {
    background: pink;
    display: block;
    align-items: center;
    padding: 0 0.5rem;
    border-radius: 15px;
    
}

nav h1 {
    flex: auto;
    margin: 0;
    
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0.3em;
    padding: 0.3em;
}

nav ul li a,
nav ul li span,
header .action {
    display: block;
    padding: 0.8rem;
    
}

.content {
    padding: 1rem 1rem 1rem;
}

.content>header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.content>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input,
.content textarea {
    margin-bottom: 2em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.b_action {
    color: #cc2f2e;
}

input[type=submit] {
    align-self: start;
    min-width: 10em;
}






