<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}HotelDB{% endblock title %}</title>
    <link rel="stylesheet" href="{{ urlfor('static', filename='style.css') }}">
</head>

<body>
    <header>
        {% block header %}Default Header{% endblock header %}
    </header>

    <nav>
        {% block nav %}
        <ul>
            <li>Implement Navigation bar</li>
        </ul>
        {% endblock nav %}
    </nav>

    {% for message in get_flash_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    <section class="content">
        {% block content %}{% endblock content %}
    </section>
</body>

</html>